.env
.zrchive/

# Ignore compiled Python bytecode files
*.pyc

# Ignore virtual environment files
venv/
env/

# Ignore the local development settings file
settings_local.py

# Ignore logs and cache directories
logs/
__pycache__/

# Ignore IDE files
.vscode/
.idea/


